div.navbar.navbar-inverse.navbar-static-top
  div.navbar-inner
    div.container
      a.brand(href='/') #{ __('main-title') }

      ul.nav.pull-right
        li.divider-vertical
        li.dropdown
          div.btn-group
            button.btn.btn-inverse.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-user
              &nbsp;
              =currentUser.username
              &nbsp;&nbsp;
              span.caret

            ul.dropdown-menu
              li
                a(href='/logout')
                  i.icon-eject
                  | &nbsp; #{ __('Logout') }

