extends ../layout

block content
  if typeof msg !== 'undefined'
    .row
      .alert.register-alert.fade.in(class="#{ 'alert-' + msg.type }")
        button.close(type='button', data-dismiss='alert') x
        for message in msg.messages
          p=message

  .row
    .register-block
      form(action='/test/create-admin', method='post')
        legend.register-legend First Admin Creation
        div.offset1.register-inputs
          div.control-group
            input(type='hidden', name='_csrf', value=token)
            label.control-label(for='username') Username:
            div.controls
              input#username.input-xlarge(type='text', name='username', placeholder='Username')

          div.control-group
            label.control-label(for='email') Email:
            div.controls
              input#email.input-xlarge(type='email', name='email', placeholder='Email')

          div.control-group
            label.control-label(for='password') Password:
            div.controls
              input#password(type='password', name='password', placeholder='Password')

          div.control-group
            label.control-label(for='passwordConfirm') Password Confirmation:
            div.controls
              input#password-confirm(type='password', name='passwordConfirm', placeholder='Password Confirmation')

          div.control-group.register-submit
            div.controls
              button.btn.btn-primary(type='submit') Create Admin
